body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.slot {
	padding: 10px;
	height: 100px;
	width: 100px;
	background: lightgray;
}

.card {
	padding: 10px;
	height: 100px;
	width: 100px;
	background: pink;
	color: purple;
	font-weight: bold;
	font-size: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardBoard {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.row {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	width: 100%;
}
